<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="background-color: #B8C3C0;">MSDS 696 - Data Engineering Project Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Project Summary</h1>
    <p>For my second capstone project during MSDS 696, I built a website using Flask, CouchDB and Python to generate and
        display visualizations from US Mortgage data sourced from the Consumer Protection Finance Bureau. This mortgage
        data is submitted to the US Government by US lenders to measure their lending activity, demographics, and loan
        contracts. I was able to scrape this historical data and load it into a CouchDB database. Afterwards, I built
        visualizations and implemented an MVVM with flask to parameterize and visualize this data. I used Matplotlib for
        time series data and I used Folium for the geographical data.</p>
    <h2>Project Directory</h2>
    <h3>State Geography Landing Page</h3>
    <ul>
        <li><a href="{{ url_for('main.state_geo') }}">State Geography Landing Page</a></li>
    </ul>
    <h3>State Time Series Pages</h3>
    <ul>
        <li><a href="{{ url_for('main.state_data', state= 'AZ') }}">Arizona Time Series Data</a></li>
        <li><a href="{{ url_for('main.state_data', state= 'CO') }}">Colorado Time Series Data</a></li>
        <li><a href="{{ url_for('main.state_data', state= 'NM') }}">New Mexico Time Series Data</a></li>
        <li><a href="{{ url_for('main.state_data', state= 'UT') }}">Utah Time Series Data</a></li>
    </ul>
    <h3>References and Miscellaneous</h3>
    <ul>
        <li><a href="{{ url_for('main.references') }}">Project References</a></li>
        <li><a href="{{ url_for('main.dummy_data') }}">Demo Landing Page</a></li>
    </ul>
</body>

</html>