<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>State Geographical Visualizations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>State Geogrphical Visualizations</h1>
    <p>This page contains geographical data by county for US State mortgages.</p>
    <h2>Visualization Parameters</h2>
    <form action="/state_geography/" method="post">
        <!-- Add your dropdowns and other form elements here -->
        <label for="state">State Name:</label>
        <select id="state" name="state" required>
            <option value="AZ">Arizona</option>
            <option value="CO">Colorado</option>
            <option value="NM">New Mexico</option>
            <option value="UT">Utah</option>
        </select>
        <label for="year">Year:</label>
        <select id="year" name="year" required>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
        </select>
        <label for="loan_term">Year:</label>
        <select id="loan_term" name="loan_term" required>
            <option value="15-year">15-year Mortgage</option>
            <option value="30-year">30-year Mortgage</option>
        </select>
        <label for="datapoint">Datapoint:</label>
        <select id="datapoint" name="datapoint" required>
            <option value="Average Interest Rate">Average Interest Rate</option>
            <option value="Average Loan to Value">Average Loan to Value</option>
            <option value="Total Loan Amount">Total Loan Amount</option>
            <option value="Loan Volume">Loan Volume</option>
        </select>
        <button type="submit">Generate Map</button>
    </form>


    {% if map_html %}

    {{ map_html|safe }}

    {% endif %}
</body>

</html>