<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dummy Data Visualization</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body>
    <h1>Summary Section</h1>
    <h2>Visualizations</h2>
    <p>This section contains a set of visualations for the state of {{ state_long_name }}</p>
    <h3>Mortgage Loan Volume<h3>
    <img src="data:iamge/png;base64,{{ loan_volume_plot|safe }}">
    <h3>Average Mortgage Rates</h3>
    <img src="data:iamge/png;base64,{{ interest_plot|safe }}">
    <h3>Download Dummy Data</h3>
    <a href="{{ url_for('main.dummy_csv')}}">Download Dummy Data</a>
</body>


</html>