<!DOCTYPE html>
<html>
    <head>
<title style="background-color: #B8C3C0;">Dummy Data Visualization</title>
    </head>
<body bgcolor="#B8C3C0">
    <h1>Summary Section</h1>
    <h2>Visualizations</h2>
    <p>This section contains a set of visualations for the state of {{ state_long_name }}</p>
    <h3>Visualization - Interest Rates</h3>
    <img src="data:iamge/png;base64,{{ interest_plot|safe }}">
    <h3>Download Dummy Data</h3>
    <a href="{{ url_for('main.dummy_csv')}}">Download Dummy Data</a>
</body>


</html>