<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title style="background-color: #B8C3C0;">Dummy Data Visualization</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body bgcolor="#B8C3C0">
    <h1>Summary Section</h1>
    <h2>Visualization 1</h2>
    <p>This section contains a set of visualations for {{ state }}</p>
    <h3>Visualization - Dummy Data</h3>
    <img src="data:iamge/png;base64,{{ plot|safe }}">
    <h3>Download Dummy Data</h3>
    <a href="{{ url_for('main.dummy_csv')}}">Download Dummy Data</a>
</body>


</html>